/* SCROLL ANIMATION */

/* TOP SCROLL WATCHER */

@keyframes scroll-watch {
    to { scale: 1 1;}
}

/* HEADER 

header {
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit -100px;
}

@keyframes fade-out {
        to { opacity: 0;}
    }


/* MAIN SKILLS 

main > #Skills {
    scale: 0.8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 100px;
}


@keyframes fade-in {
    to { scale: 1; opacity: 1;}
}
