/* SCROLL ANIMATION */

/* TOP SCROLL WATCHER */

/* SCROLL WATCHER */

.scroll-watch {
    border-radius: 20px;
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(79, 111, 82, 0.7);
    width: 80%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watch linear;
    animation-timeline: scroll();
}


@keyframes scroll-watch {
    to { scale: 1 1;}
}

/* HEADER */

header {
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit -100px;
}

@keyframes fade-out {
        to { opacity: 0;}
    }


/* MAIN SKILLS */

.fadeInLeft {
    opacity: 0;
    animation: fadeInLeft linear forwards;
    animation-timeline: view();
    animation-range: entry 150px;
}

.fadeInTop {
    opacity: 0;
    animation: fadeInTop linear forwards;
    animation-timeline: view();
    animation-range: entry 150px;
}

.fadeInRight {
    opacity: 0;
    animation: fadeInRight linear forwards;
    animation-timeline: view();
    animation-range: entry 100px;
}


/* ASIDE */

aside {
    opacity: 0;
    animation: fadeInCenter linear forwards;
    animation-timeline: view();
    animation-range: entry 200px;
}


/* FOOTER */

footer {
    opacity: 0;
    animation: fadeInCenter linear forwards;
    animation-timeline: view();
    animation-range: entry -50px;
}


/* FADE-ANIMATION KEYFRAMES */

/* FADE IN LEFT */

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0); /* End point of the animation */
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0); /* End point of the animation */
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0); /* End point of the animation */
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End point of the animation */
    }
}

@keyframes fadeInLeftHeader {
    0% {
        opacity: 0;
        transform: translateX(-150px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End point of the animation */
    }
}

/* FADE IN TOP */
@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0); /* End point of the animation */
    }
}

@-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0); /* End point of the animation */
    }
}

@-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0); /* End point of the animation */
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End point of the animation */
    }
}

/* FADE IN RIGHT */

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0); /* End point of the animation */
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0); /* End point of the animation */
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0); /* End point of the animation */
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-100px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End point of the animation */
    }
}

@keyframes fadeInRightHeader {
    0% {
        opacity: 0;
        transform: translateX(150px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End point of the animation */
    }
}

/* FADE IN CENTER */

@keyframes fadeInCenter {
    0% {
        opacity: 0;
        transform: translateX(0px); /* Starting point of the animation */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End point of the animation */
    }
}