/* SCROLL ANIMATION */

/* TOP SCROLL WATCHER */

/* SCROLL WATCHER */

.scroll-watch {
    border-radius: 20px;
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(79, 111, 82, 0.7);
    width: 80%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watch linear;
    animation-timeline: scroll();
}


@keyframes scroll-watch {
    to { scale: 1 1;}
}

/* HEADER */

header {
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit -100px;
}

@keyframes fade-out {
        to { opacity: 0;}
    }


/* MAIN SKILLS  */

main > #Skills {
    scale: 0.8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 100px;
}


@keyframes fade-in {
    to { scale: 1; opacity: 1;}
}


/* ASIDE */

aside {
    scale: 0.8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 100px;
}

/* FOOTER */

footer {
    scale: 0.8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 50px;
}